*
{
    margin:0;
    padding:0;

}
h4{


    color:orangered;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight:bold;
    font-size: 20px;
}
h1{
    text-align: center;
    
}
h6{
    color:gray;
    text-align: center;
    
}
h3
{
    text-align: center;
}


p{


 margin-left:15%;
 margin-right:15%;
 font-size: 20px;
 
}
 h2{
    font-weight:bold;
    font-size: 20px;
    margin-left:15%;
 margin-right:15%;
 text-align: center;
}
.vara-1
{
    margin-left: 40%;
}





















